In [986]:
pip install requests

Requirement already satisfied: requests in /opt/anaconda3/lib/python3.12/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests) (2025.1.31)
Note: you may need to restart the kernel to use updated packages.

In [1030]:
# Manage imports
import requests
import pandas as pd
import re
import ast

In [1032]:
# Google API - Resource #1
category = "politics"
# law, mythology, lore, magic, neuroscience, sustainability, climate change, innovation, data, internet, blockchain
# cryptocurrency, money, social media, media, communication, agriculture, diy, cooking, food, gardening, crafts,
# photography, survival, travel, transportation, aviation, agriculture, farming, essays, health, fitness, nutrition,
# mental health, meditation, yoga, exercise, diet, ecology, genetics, oceanography, meteorology, Historical Romance, 
# noir, contemporary romance, contemporary fiction, western, business, management, marketing, finance, accounting, 
# entrepreneurship, leadership, investing, sales, Paranormal Romance, Romantic Suspense, data science, artificial intelligence
# machine learning, programming, software engineering, robotics, web development, networking, cybersecurity, electronics,
# electrical engineering, mechanical engineering, cultural studies, geography, archaeology, sociology

books = []

max_results = 40
start_index = 0

while True:
    params = {
        "q": f"subject:{category}",
        "maxResults": max_results,
        "startIndex": start_index
    }
    
    response = requests.get("https://www.googleapis.com/books/v1/volumes", params=params)
    data = response.json()
    
    items = data.get("items", [])
    if not items:
        break  # no more books, exit loop
    
    for item in items:
        volume = item.get("volumeInfo", {})
        search_info = item.get("searchInfo", {})
        book_info = {
            "title": volume.get("title", "N/A"),
            "authors": volume.get("authors", []),
            "publishedDate": volume.get("publishedDate", "N/A"),
            "categories": volume.get("categories", []),
            "description": volume.get("description", "N/A"),
            "averageRating": volume.get("averageRating", "N/A"),
            "textSnippet": search_info.get("textSnippet", "N/A"),
            "language": volume.get("language", "N/A"),
        }
        books.append(book_info)
    
    # increment start_index to get the next page
    start_index += max_results

print(f"Total books: {len(books)}")
print(response.status_code, response.url)
if "error" in data:
    print(data["error"])

Total books: 0
429 https://www.googleapis.com/books/v1/volumes?q=subject%3Apolitics&maxResults=40&startIndex=0
{'code': 429, 'message': "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'books.googleapis.com' for consumer 'project_number:624717413613'.", 'errors': [{'message': "Quota exceeded for quota metric 'Queries' and limit 'Queries per day' of service 'books.googleapis.com' for consumer 'project_number:624717413613'.", 'domain': 'global', 'reason': 'rateLimitExceeded'}], 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.ErrorInfo', 'reason': 'RATE_LIMIT_EXCEEDED', 'domain': 'googleapis.com', 'metadata': {'quota_limit_value': '20000000', 'quota_unit': '1/d/{project}', 'quota_limit': 'defaultPerDayPerProject', 'quota_metric': 'books.googleapis.com/default', 'consumer': 'projects/624717413613', 'service': 'books.googleapis.com', 'quota_location': 'global'}}, {'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Request a higher quota limit.', 'url': 'https://cloud.google.com/docs/quotas/help/request_increase'}]}]}

In [1014]:
df = pd.DataFrame(books)
df.to_csv(f"{category}.csv", index=False)
print(f"Saved file: {category}.csv")

Saved file: politics.csv

In [1016]:
# load all csv files
files = ["fashion.csv", "action.csv", "adult.csv", "adventure.csv", "ancient.csv", "architecture.csv", "art history.csv",
    "autobiography.csv","art.csv", "biology.csv","chemistry.csv","children.csv","civil.csv","classic.csv",
    "car.csv","computer.csv","engineer.csv","fiction.csv","game.csv","geology.csv","english.csv","government.csv",
    "history.csv","humanity.csv","information.csv","marriage.csv","men.csv","nonfiction.csv","organizing.csv",
    "painting.csv","parent.csv","personality.csv","physics.csv","poetry.csv","popular.csv","psychology.csv",
    "romance.csv","science fiction.csv","science.csv","secret.csv","self help.csv","sociology.csv","spy.csv",
    "study.csv","theater.csv","war.csv","women.csv","writing.csv","world.csv", "religion.csv", "map.csv", 
    "building.csv", "pets.csv", "weight.csv", "attitude.csv", "review.csv", "house.csv", "home.csv", "math.csv",
    "calculus.csv", "trigonometry.csv", "sleep.csv", "democracy.csv", "american history.csv", "american.csv", "easy.csv",
    "fiction mystery.csv", "fiction historical.csv", "fiction romance.csv", "fantasy.csv", "Utopian.csv", "crime.csv",
    "Mystery.csv", "dream.csv", "microsoft.csv", "animation.csv", "technology.csv", "horror.csv", "thriller.csv", "suspense.csv",
    "satire.csv", "astronomy.csv", "astrology.csv", "humor.csv", "family.csv", "empire.csv", "kingdoms.csv", "space.csv",
    "anatomy.csv", "drawing.csv", "comic.csv", "graphic novel.csv", "economy.csv", "teen fiction.csv", "dystopia.csv", "script.csv",
    "animals.csv", "literature.csv", "instruction.csv", "mechanics.csv", "medicine.csv", "zoology.csv", "microbiology.csv",
    "geology.csv", "graphic design.csv"]

df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)
len(df)

14261

In [1018]:
# Save everything to one final file
df.to_csv("total_df.csv", index=False)
print(f"Saved file: total_df.csv")

Saved file: final_df.csv

In [1084]:
# Kaggle Dataset (https://www.kaggle.com/datasets/abdallahwagih/books-dataset) - Resource #2
df_2 = pd.read_csv("Books_Dataset_Abdallah_Wagih_Ibrahim.csv")
df_2.head()

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

In [1166]:
# Function to convert any value to list or default
def to_list_or_na(x):
    if pd.isnull(x):
        return ["N/A"]
    elif isinstance(x, list):
        return x
    else:
        # If string, split by comma
        return [a.strip() for a in str(x).split(",")]

# Map and fill missing values
df_2 = pd.DataFrame({
    "title": df.get("title", "N/A").fillna("N/A"),
    "authors": df.get("authors").apply(to_list_or_na),
    "categories": df.get("categories").apply(to_list_or_na),
    "description": df.get("description", "N/A").fillna("N/A"),
})

# Preview
print(df_2.head())

                title                              authors  \
0     Operette Morali               [['Giacomo Leopardi']]
1     Feeding the Eye                 [['Anne Hollander']]
2  Système de la mode                 [['Roland Barthes']]
3  The Fashion System                 [['Roland Barthes']]
4   Consuming Fashion  [['Anne Brydon', 'Sandra Niessen']]

                   categories  \
0  [['Literary Collections']]
1                   [['Art']]
2    [['Clothing and dress']]
3                [['Design']]
4                [['Design']]

                                         description
0  This series is conceived as a library of bilin...
1  "Only a learned and daring intelligence could ...
2  Ce livre, devenu un classique, est un des exem...
3               On semiotics, fashion and philosophy
4  Drawing on ethnographic knowledge to connect t...

In [1168]:
df_combined = pd.concat([df, df_2], ignore_index=True)

# Replace all NaN values with "N/A"
df_combined = df_combined.astype(object)
df_combined.fillna("N/A", inplace=True)

# Optional: verify
print(df_combined.head())

                title                            authors publishedDate  \
0     Operette Morali               ['Giacomo Leopardi']    1983-12-09
1     Feeding the Eye                 ['Anne Hollander']    2000-10-02
2  Système de la mode                 ['Roland Barthes']          1983
3  The Fashion System                 ['Roland Barthes']    1990-07-25
4   Consuming Fashion  ['Anne Brydon', 'Sandra Niessen']       1998-09

                 categories  \
0  ['Literary Collections']
1                   ['Art']
2    ['Clothing and dress']
3                ['Design']
4                ['Design']

                                         description averageRating textSnippet
0  This series is conceived as a library of bilin...           N/A         N/A
1  "Only a learned and daring intelligence could ...           N/A         N/A
2  Ce livre, devenu un classique, est un des exem...           N/A         N/A
3               On semiotics, fashion and philosophy           3.0         N/A
4  Drawing on ethnographic knowledge to connect t...           N/A         N/A

In [1250]:
# Kaggle Dataset(https://www.kaggle.com/datasets/mdhamani/goodreads-books-100k) - Resource #3
df_3 = pd.read_csv("GoodReads_100k_books.csv")
df_3.head()

,author,bookformat,desc,genre,img,isbn,isbn13,link,pages,rating,reviews,title,totalratings
0,Laurence M. Hauptman,Hardcover,Reveals that several hundred thousand Indians ...,"History,Military History,Civil War,American Hi...",https://i.gr-assets.com/images/S/compressed.ph...,002914180X,9.78E+12,https://goodreads.com/book/show/1001053.Betwee...,0,3.52,5,Between Two Fires: American Indians in the Civ...,33
1,"Charlotte Fiell,Emmanuelle Dirix",Paperback,Fashion Sourcebook - 1920s is the first book i...,"Couture,Fashion,Historical,Art,Nonfiction",https://i.gr-assets.com/images/S/compressed.ph...,1906863482,9.78E+12,https://goodreads.com/book/show/10010552-fashi...,576,4.51,6,Fashion Sourcebook 1920s,41
2,Andy Anderson,Paperback,The seminal history and analysis of the Hungar...,"Politics,History",https://i.gr-assets.com/images/S/compressed.ph...,948984147,9.78E+12,https://goodreads.com/book/show/1001077.Hungar...,124,4.15,2,Hungary 56,26
3,Carlotta R. Anderson,Hardcover,"""All-American Anarchist"" chronicles the life a...","Labor,History",https://i.gr-assets.com/images/S/compressed.ph...,814327079,9.78E+12,https://goodreads.com/book/show/1001079.All_Am...,324,3.83,1,All-American Anarchist: Joseph A. Labadie and ...,6
4,Jean Leveille,NaN,"Aujourdâ€™hui, lâ€™oiseau nous invite Ã sa ta...",NaN,https://i.gr-assets.com/images/S/compressed.ph...,2761920813,NaN,https://goodreads.com/book/show/10010880-les-o...,177,4.00,1,Les oiseaux gourmands,1

In [1252]:
# Function to convert any value to list or default
def to_list_or_na(x):
    if pd.isnull(x):
        return ["N/A"]
    elif isinstance(x, list):
        return x
    else:
        # If string, split by comma
        return [a.strip() for a in str(x).split(",")]

# Map and fill missing values
df_3 = pd.DataFrame({
     "title": df.get("title", pd.Series(["N/A"]*len(df))).fillna("N/A"),
    "authors": df.get("author", pd.Series(["N/A"]*len(df))).apply(to_list_or_na),
    "categories": df.get("genre", pd.Series(["N/A"]*len(df))).apply(to_list_or_na),
    "description": df.get("desc", pd.Series(["N/A"]*len(df))).fillna("N/A"),
    "averageRating": df.get("rating", pd.Series(["N/A"]*len(df))).fillna("N/A"),
})


# Preview
print(df_3.head())

                title authors categories description averageRating
0     Operette Morali   [N/A]      [N/A]         N/A           N/A
1     Feeding the Eye   [N/A]      [N/A]         N/A           N/A
2  Système de la mode   [N/A]      [N/A]         N/A           N/A
3  The Fashion System   [N/A]      [N/A]         N/A           N/A
4   Consuming Fashion   [N/A]      [N/A]         N/A           N/A

In [1208]:
df_combined = pd.concat([df_combined, df_3], ignore_index=True)

# Replace all NaN values with "N/A"
df_combined = df_combined.astype(object)
df_combined.fillna("N/A", inplace=True)

# Optional: verify
print(df_combined.head())

                title                            authors publishedDate  \
0     Operette Morali               ['Giacomo Leopardi']    1983-12-09
1     Feeding the Eye                 ['Anne Hollander']    2000-10-02
2  Système de la mode                 ['Roland Barthes']          1983
3  The Fashion System                 ['Roland Barthes']    1990-07-25
4   Consuming Fashion  ['Anne Brydon', 'Sandra Niessen']       1998-09

                 categories  \
0  ['Literary Collections']
1                   ['Art']
2    ['Clothing and dress']
3                ['Design']
4                ['Design']

                                         description averageRating  \
0  This series is conceived as a library of bilin...           N/A
1  "Only a learned and daring intelligence could ...           N/A
2  Ce livre, devenu un classique, est un des exem...           N/A
3               On semiotics, fashion and philosophy           3.0
4  Drawing on ethnographic knowledge to connect t...           N/A

  textSnippet rating
0         N/A    N/A
1         N/A    N/A
2         N/A    N/A
3         N/A    N/A
4         N/A    N/A

In [1180]:
df_combined.to_csv("total_df.csv", index=False)

In [1210]:
# Load your dataset
df = pd.read_csv("total_df.csv")

# Drop duplicates by both title and authors
df_clean = df.drop_duplicates(subset=["title", "authors"], keep="first")

print(f"Before removing duplicates: {len(df)} rows")
print(f"After removing duplicates: {len(df_clean)} rows")

Before removing duplicates: 85566 rows
After removing duplicates: 51192 rows

/var/folders/gs/rm1mjp5x5ybc93h8m4xwbfyr0000gn/T/ipykernel_40721/1846533067.py:2: DtypeWarning: Columns (2,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("total_df.csv")

In [1212]:
# view data
df_clean.head()

,title,authors,publishedDate,categories,description,averageRating,textSnippet,rating
0,Operette Morali,['Giacomo Leopardi'],1983-12-09,['Literary Collections'],This series is conceived as a library of bilin...,NaN,NaN,NaN
1,Feeding the Eye,['Anne Hollander'],2000-10-02,['Art'],"""Only a learned and daring intelligence could ...",NaN,NaN,NaN
2,Système de la mode,['Roland Barthes'],1983,['Clothing and dress'],"Ce livre, devenu un classique, est un des exem...",NaN,NaN,NaN
3,The Fashion System,['Roland Barthes'],1990-07-25,['Design'],"On semiotics, fashion and philosophy",3.0,NaN,NaN
4,Consuming Fashion,"['Anne Brydon', 'Sandra Niessen']",1998-09,['Design'],Drawing on ethnographic knowledge to connect t...,NaN,NaN,NaN

In [1232]:
# Keep English Language only books for Capstone (simplicity in reviewing)
if "languages" in df_clean.columns:
    # Filter rows where 'languages' contains 'eng'
    df_en = df_clean[df_clean["languages"].apply(lambda x: "eng" in x if isinstance(x, list) else False)]
else:
    print("'languages' column does not exist.")
    df_en = df_clean.copy()  # fallback: keep all rows

'languages' column does not exist.

In [1234]:
# Normalize symbols in text
def clean_text(x):
    if not isinstance(x, str):
        return x
    x = x.strip().lower()
    x = re.sub(r'\s+', ' ', x)
    x = re.sub(r'[^\w\s.,!?\'"-]', '', x)
    return x

# Apply cleaning safely
df_clean.loc[:, "title"] = df_clean["title"].apply(clean_text)
df_clean.loc[:, "description"] = df_clean["description"].apply(clean_text)
df_clean.loc[:, "categories"] = df_clean["categories"].apply(
    lambda x: [c.strip().lower() for c in x] if isinstance(x, list) else x
)

In [1236]:
# Normalize authors and Categories (currently list)
def normalize_list(x):
    if isinstance(x, list):
        return x
    # If NaN or empty, return ["N/A"]
    if pd.isnull(x) or x == "":
        return ["N/A"]
    # If a string that looks like a list: "[1, 2, 3]"
    try:
        parsed = ast.literal_eval(x)
        if isinstance(parsed, list):
            return parsed
    except:
        pass
    # If comma-separated string: "1,2,3"
    return [item.strip() for item in str(x).split(",")]

df_clean = df_clean.copy()  # now it’s independent
df_clean["authors"] = df_clean["authors"].apply(normalize_list)
df_clean["categories"] = df_clean["categories"].apply(normalize_list)

In [1238]:
# Keep only meaningful descriptions and titles
df_clean = df_clean[df_clean["title"].str.len() > 2]
df_clean = df_clean[df_clean["description"].str.len() > 30]

print(len(df_clean))

27318

In [1240]:
df_clean["description"].describe()

count                                                 27318
unique                                                 8876
top       this work has been selected by scholars as bei...
freq                                                    120
Name: description, dtype: object

In [1242]:
df_clean["categories"].describe()

count             27318
unique             2682
top       [['fiction']]
freq               1571
Name: categories, dtype: object

In [1244]:
# Save copy of cleaned csv
df_clean.to_csv("books_cleaned.csv", index=False)

In [1246]:
print(df_clean.info())

<class 'pandas.core.frame.DataFrame'>
Index: 27318 entries, 0 to 57043
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          27318 non-null  object
 1   authors        27318 non-null  object
 2   publishedDate  9086 non-null   object
 3   categories     27318 non-null  object
 4   description    27318 non-null  object
 5   averageRating  956 non-null    float64
 6   textSnippet    0 non-null      float64
 7   rating         0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 1.9+ MB
None

In [1248]:
print(df_clean.sample(5))

                            title                                 authors  \
21979      the road to lilyfields                      [['Lottie Bloom']]
15566             gerhard richter  [['Stefan Gronert', 'Hubertus Butin']]
47864     the secret of childhood              [["['Maria Montessori']"]]
8175   handbook of sleep medicine        [Alon Y. Avidan, Phyllis C. Zee]
8851            a cast of falcons                         [Steve Burrows]

      publishedDate           categories  \
21979           NaN                 [[]]
15566           NaN            [['art']]
47864           NaN  [["['education']"]]
8175           2011            [medical]
8851     2016-05-07            [fiction]

                                             description  averageRating  \
21979  a gripping contemporary romance of love agains...            NaN
15566  this book demonstrates how richter pursues the...            NaN
47864  dr montessori s revolutionary method of educat...            NaN
8175   "the handbook offers practical and easily refe...            NaN
8851   the threat from above casts a dark shadow. a m...            NaN

       textSnippet  rating
21979          NaN     NaN
15566          NaN     NaN
47864          NaN     NaN
8175           NaN     NaN
8851           NaN     NaN

In [1230]:
print(df_clean.describe())

       averageRating  textSnippet  rating
count     956.000000          0.0     0.0
mean        4.172071          NaN     NaN
std         1.019673          NaN     NaN
min         1.000000          NaN     NaN
25%         4.000000          NaN     NaN
50%         4.500000          NaN     NaN
75%         5.000000          NaN     NaN
max         5.000000          NaN     NaN